/* .nav {
  background: #222;
  border-width: 0px 0px 1px 0px;
  border-color: #000;
  color: #f6f6f7;
  min-height: 45px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
}

#controllerLogo {
  height: 45px;
}

#VGNLogo {
  height: 45px;
}
.nav-link {
  background-color: #222;
  border-width: 0px 0px 3px 0px;
  border-color: #222;
  color: #f6f6f7;
}

.nav-tabs .nav-link {
  background-color: #222;
  border-width: 0px 0px 3px 0px;
  border-color: #222;
  color: #f6f6f7;
  border-radius: 0px;
}

.nav-tabs .nav-link:hover {
  background-color: #222;
  border-width: 0px 0px 3px 0px;
  border-color: #222;
  color: #EE135B;
}

.nav-tabs .nav-link.active {
  background-color: #222;
  border-width: 0px 0px 3px 0px;
  border-color: #EE135B;
  color: #EE135B;
} */

/* =========================== */
/* Aaron's changes: */
/* =========================== */

#controllerLogo,
#VGNLogo {
  height: 45px;
}
.nav {
  background: #222;
  border-color: #000;
  color: #f6f6f7;
  min-height: 44px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 5px #020202;
}

.nav-link,.nav-item,.nav-tabs{
  background-color: none;
}
.nav-link,
.nav-tabs .nav-link  {
  background-color: #222;
  border-width: 0px 0px 3px 0px;
  border-color: #222;
  color: #f6f6f7;
}

.nav-tabs .nav-link {
  border-radius: 0px;
}

.special:hover{
  background:color #fff !important;
}
/* Ajust font color when hovering */
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link.active {
  border-color: #222;
  background-color: #222;
  color: #EE135B;
}

/* Add colored border when active */
.nav-tabs .nav-link.active {
  border-color: #EE135B;
  background-color: #222;

}

.dropdown:hover{
  background-color:none;
}

.dropdown-menu-right{
  right: 0; 
  left: auto;
}