@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #f6f6f7;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #222;
  padding: 50px;
  height: 80%;
  margin-top: 55px;
  /* overflow: scroll; */
}


/* ========================================= */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
