@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
  color: #f6f6f7;
}

.nav {
  background: #222222;
  border-width: 0px 0px 1px 0px;
  border-color: #222222;
  color: #f6f6f7;
  margin-bottom: 30px;
}

.nav-link {
  background-color: #222222;
  border-width: 0px 0px 3px 0px;
  border-color: #222222;
  color: #f6f6f7;
}

.nav-tabs .nav-link {
  background-color: #222222;
  border-width: 0px 0px 3px 0px;
  border-color: #222222;
  color: #f6f6f7;
  border-radius: 0px;
}

.nav-tabs .nav-link.active {
  background-color: #222222;
  border-width: 0px 0px 3px 0px;
  border-color: #222222;
  color: #e44b30;
}

.nav-tabs .nav-link:hover {
  background-color: #222222;
  border-width: 0px 0px 3px 0px;
  border-color: #e44b30;
  color: #e44b30;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: #f6f6f7;
  /* letter-spacing: 2px; */
}

.container {
  background-color: #131313;
  padding: 50px;
}


/* ========================================= */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
