.chatroom {
    position:relative;
    height: 400px;
    width: 200px;
    outline: solid;
    ouline-color: red;
}

.msgbutton {
    position: absolute;
    height: 28px;
    width: 25px;
    right: 3px;
    top: 5px;
    float: right;
}

.currentmsg {
    position: absolute;
    width: 165px;
    font-size: 16px;
    top: 4px;
    left: 2px;
    float: left;
}

.messageandbutton {
    position: relative;
    top: 365px;
}

.messagedisplay {
    position: absolute;
    margin: 5px;
    outline: dotted;
    height: 360px;
    width: 190px;
    overflow: auto;
    background-color: #222222;
    font-size: 12px;
}

p {
    font-size: 12px;
}
 
.usericon {
    height: 20px;
    width: 20px;  
}
/* img {
    height: 20px;
    width: 20px;   
} */