.chatroom {
    margin: 8px;
    position:relative;
    height: 480px;
    width: 230px;
    outline: solid;
    outline-color: #EE135B;
    float: right;
}

.msgbutton {
    position: absolute;
    height: 38px;
    width: 40px;
    right: 0px;
    float: right;
    bottom: 1.9px;

}

.currentmsg {
    position: absolute;
    width: 82.4%;
    height: 99%;
    font-size: 16px;
    bottom: 2px;
    left: 0.3px;
    float: left;
}

.messageandbutton {
    position: relative;
    top: 89%;
    width: 100%;
    height: 8%;
    text-size: 16px;
}

.messagedisplay {
    position: absolute;
    outline: dotted;
    height: 86.5%;
    width: 99%;
    overflow: auto;
    background-color: #222222;
    font-size: 12px;
    left: 1px;
    top: 25px;
}

.chatroom-message {
    font-size: 12px;
}
.chatroom-message0 {
    background-color: rgb(17, 17, 17);
    margin-bottom: 3px;
} 
.chatroom-message1 {
    background-color: rgb(26, 26, 26);
    margin-bottom: 3px;
}
.usericon {
    height: 20px;
    width: 20px;  
}
.fa-telegram-plane {
    font-size: 36px;
    position: relative;
    right: 4px;
    bottom: 2px;
}
.gametabs {
    float: left;
    height: 43px;
    width: 100%;
    background-color:  rgb(26, 26, 26);
    font-size: 12px;
}
.fa-star {
    float: right;
    margin: 5px;
}

.chatroom-tab {
    float: right;
    outline: solid;
    margin: 5px;
}
.details-tab {
    float: right;
    outline: solid;
    margin: 5px;
}
.tab-location {
    float: left;
    margin: 5px;
    outline: solid;
}
/* img {
    height: 20px;
    width: 20px;   
} */