.gameBox{
    height: 120px;
    width: 120px;
    background:#333;
    margin-top: 10px;
}

.gameBox > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.categoryHeader{
    width: 100%
}

.gamesContainer{
    background-color: rgb(63, 63, 63);
    min-height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 15px 25px 15px;

}
