.forumTable {
  width: 100%;
}

.forumTable th {
  padding: 10px 20px;
}

.forumTable td {
 padding: 20px;
}

.forumTable thead tr {
  border: 1px solid grey;
}

.forumTable tbody tr {
  height: 100px;
}
.forumTable .th{
  background-color: rgba(43, 43, 43, 0.9); 
}
.forumTable tr:nth-child(even) {
  background-color: rgba(49, 49, 49, 0.9);
}

.forumTitle {
  margin: 0px;
  font-weight: 600;
}

.forumDescription {
  margin: 0px;
  font-size: 0.8em;
}

.forumTitle:hover {
  color: #EE135B;
  cursor: pointer;
}