a {
  color: #f6f6f7;
}

.forumTree {
  display: flex;
}

.forumTree p {
  margin-right: 10px;
}

.forumTreeLink:hover {
  color: #EE135B;
  text-decoration: none;
  cursor: pointer;
}

#threadName,
#forumName {
  float: left;
}

#newPostButton,
#newThreadButton {
  float: right;
  background-image: linear-gradient(#EE135B, #e91e40);
  border: none;
  color: #f6f6f7;
  font-weight: bold;
}