a {
  color: #f6f6f7;
}

.forumTree {
  display: flex;
}

.forumTreeLink {
  margin: 0px 10px;
}

.forumTreeLink:hover {
  color: #EE135B;
  text-decoration: none;
  cursor: pointer;
}

#newPostButton {
  float: right;
}